html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url(/code/assets/images/login_bg.jpg);
}

.logo {
    margin-top: 10px;
}


/* 登录注册区域 */

.loginAndRegbox {
    padding: 0 20px;
    width: 400px;
    height: 310px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.title-box {
    height: 60px;
    background: url('/code/assets/images/login_title.png') no-repeat center;
}

.reg-box {
    display: none;
}

.layui-form-item {
    position: relative;
}

.layui-icon {
    position: absolute;
    left: 10px;
    top: 10px;
}

.layui-input {
    padding-left: 32px;
}